<!-- ugly, so much repetition -->
<!-- <ul>
  <li>{{ (author$ | async).name }}</li>
  <li>{{ (author$ | async).students }}</li>
  <li>{{ (author$ | async).isPremium }}</li>
</ul> -->

<!-- make it simplier by using "as keyword" -->
<!-- <ul *ngIf="author$ | async as author">
  <li>{{ author.name }}</li>
  <li>{{ author.students }}</li>
  <li>{{ author.isPremium }}</li>
</ul> --> 

<input (keyup.enter)="add(course)" #course type="text">
<ul>
  <li *ngFor="let course of courses$ | async">
    {{ course.$value || course.name || course.title }}
    <button (click)="update(course)" class="btn-btn-default">Update</button>
  </li>
</ul>